*{
    margin: 0;
    padding: 0;
}
#heading{
    color:aquamarine;
}
#container{
    color: black;
    border: dashed black;
    height:300px;
    width: 400px;
    background-color: cornsilk;
    display:flex;/* is flex se iteam row wise arrange ho jata hai*/
}
.box{
    height: 150px;
    width: 150px;
    border: 3px solid green;
    margin: 5px;
}
#box1{
    background-color: blue;
}
#box2{
    background-color: coral;
    flex-shrink:1;
}
#box3{
    background-color: yellow;
}
#box4{
    background-color: tomato;
}