*{
    margin:0px;
    padding:0px;
}
nav{
    margin-left:50px;
    text-decoration:none;
    padding:5px;
}
header{
    background-color: aqua;
    height: 20px;
}
#third{
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;

}

    .box{
        height: 100px;
        width: 100px;
        background-color: pink;
        margin: 5px;
         display: inline;  
    }
    #box2{
        z-index: 2;
        position: absolute;
        left: 20px;
    }
    #container{
        border: 5px solid;
        margin: 5px;
    }
    #box4{
        border: 5px solid;
        margin: 5px;
        background-color: blue;
        right:20px;
        position: fixed;

    }
    #footer{
        position: fixed;
        bottom: 0px;
        background-color: rgb(7, 50, 50);
    }
    
    